<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIh7UVweojYw_a7O6T3EsrwztJwAWsqlk</string>
	<key>GCM_SENDER_ID</key>
	<string>546042396081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.ibitweb.infectocast</string>
	<key>PROJECT_ID</key>
	<string>infecto-firebase-eciz28</string>
	<key>STORAGE_BUCKET</key>
	<string>infecto-firebase-eciz28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546042396081:ios:dbf6d9632eae4fbb64d190</string>
</dict>
</plist>