<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>InfectoCast</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>InfectoCast</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>fb1728312261314688</string>
		</array>
	</dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <!--FF_REVERSED_CLIENT_ID-->
                
            </array>
        </dict>

        <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>infectocast.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
        <string>infectocast</string>
        </array>
        </dict>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>FacebookAppID</key>
    <string>1728312261314688</string>
    <key>FacebookClientToken</key>
    <string>5fdc0ccf28f53cfe9d9eb25905122a83</string>
    <key>FacebookDisplayName</key>
    <string>Infectocast</string>
    


	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSCameraUsageDescription</key>
    <string>O infectocast gostaria de acessar a câmera do seu dispsitivo,  exclusivamente para adicionar a foto de perfil em sua conta de usuário no aplicativo. Nenhuma outra ação é tomada com este acesso, assim como sua foto não será usada para nenhuma outra finalidade.</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>O infectocast gostaria de acessar o microfone do seu dispositivo para o correto funcionamento do chat de voz, e somente para este fim, não guardando estes áudios ou capturando em demais momentos o som captado. </string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>O infectocast gostaria de acessar a galeria de imagens do seu dispositivo,  exclusivamente para adicionar a foto de perfil em sua conta de usuário no aplicativo. Nenhuma outra ação é tomada com este acesso, assim como sua foto não será usada para nenhuma outra finalidade.</string>
	<key>PermissionGroupNotification</key>
    <string>O infectocast gostaria de acessar enviar notificações sobre novos conteúdos e avisos sobre promoções.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>


	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
